process {
    publishDir = {"./resultsMRtrix3_${System.getenv('SLURM_JOB_ID')}"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    afterScript = 'sleep 1'
}

// MRtrix3 Parameters Configuration 

params {

    // All the parameters set to false can be enabled by specifying on the command line without a value

    //* Manipulating fundamental image properties
        coord = false
        coord_axis = null // Provide only if coord is true
        coord_selection = null // Provide only if coord is true
        vox = null
        axes = null
        scaling = null
    
    //* Handling JSON files 
        json_import = null // Provide the absolute path to the JSON file to import
        json_export = null // Provide the absolute path to the JSON file to export
    
    //* Modify generic header entries
        clear_property = null // Provide the name of the property to clear
        set_property = false 
        set_property_key = null // Provide the name of the property to set only if set_property is true
        set_property_value = null // Provide the value of the property to set only if set_property is true
        append_property = false
        append_property_key = null // Provide the name of the property to append only if append_property is true
        append_property_value = null // Provide the value of the property to append only if append_property is true
        copy_properties = null // Provide the image or file to copy properties from
    
    //* Stride options
        stride = null // Provide either a comma-separated list of (signed) integers, or a template image

    //* Data type options
        datatype = null 

    //* DW gradient table import options 
        grad = null // provide the absolute path to the file to enable
        fslgrad = false // set to true to use FSL gradient table format
        bvec = null // Provide the absolute path to the bvec file only if fslgrad is true
        bval = null // Provide the absolute path to the bval file only if fslgrad is true
        bvalue_scaling = null // Valid choices are yes/no, true/false, 0/1 (default: automatic)
    
    //* DW gradient table export options 
        export_grad_mrtrix = null // Provide the absolute path to the output gradient table file
        export_grad_fsl = false // set to true to export the gradient table in FSL format
        bvecs_path = null // Provide the absolute path to the bvec file only if export_grad_fsl is true
        bvals_path = null // Provide the absolute path to the bval file only if export_grad_fsl is true
    
    //* Importing phase-encode tables
        import_pe_topup = null // Provide the absolute path to the topup phase-encode table file
        import_pe_eddy = false 
        pe_eddy_config_in = null // Provide the absolute path to the eddy phase-encode table file only if import_pe_eddy is true
        pe_eddy_indices_in = null // Provide the absolute path to the eddy phase-encode indices file only if import_pe_eddy is true

    //* Exporting phase-encode tables
        export_pe_topup = null // Provide the absolute path to the output topup phase-encode table file
        export_pe_eddy = false
        pe_eddy_config_out = null // Provide the absolute path to the output eddy phase-encode table file only if export_pe_eddy is true
        pe_eddy_indices_out = null // Provide the absolute path to the output eddy phase-encode indices file only if export_pe_eddy is true
    
    //* Response Function Estimation general options
        rfe_mask = null // Provide the absolute path to the brain mask file to enable
        voxels = null // Provide the filename of the output voxel image to enable
        shells = null // Provide the b-value(s) to use in response function estimation to enable
        lmax = null // Provide the harmonic degree(s) for response function estimation to enable

    //* Response Function estimation algorithm options
        rfe_algorithm = 'dhollander' // Algorithm to use. Options include 'dhollander', 'tournier', 'tax', 'msmt_5tt', 'fa', and 'manual'
    
    //* Options specific to the ‘dhollander’ algorithm (change null to a number to override default values)
        dhollander_erode = null // Set to 0 to not erode the mask
        dhollander_fa = null
        dhollander_sfwm = null
        dhollander_gm = null
        dhollander_csf = null
        dhollander_wm_algo = false
        dhollander_wm_algo_name = null // Provide the external dwi2response algorithm, only if dhollander_wm_algo is true
    
    //* Options specific to the ‘fa’ algorithm (change null to a number to override default values)
        fa_erode = null // not used if mask is provided manually
        fa_number = null
        fa_threshold = null

    //* Options specific to the ‘manual’ algorithm (change null to a value to override default values)
        manual_dirs = null
    
    //* Options specific to the ‘msmt_5tt’ algorithm (change null to a value to override default values)
        msmt_5tt_dirs = null
        msmt_5tt_fa = null
        msmt_5tt_pvf = null
        msmt_5tt_wm_algo = false
        msmt_5tt_wm_algo_name = null // Provide the external dwi2response algorithm, only if dhollander_wm_algo is true
        msmt_5tt_sfwm_fa_threshold = null // Overrides -wm_algo option
    
    //* Options specific to the ‘tax’ algorithm (change null to a number to override default values)
        tax_peak_ratio = null
        tax_max_iters = null
        tax_convergence = null
    
    //* Options specific to the ‘tournier’ algorithm (change null to a number to override default values)
        tournier_number = null
        tournier_iter_voxels = null
        tournier_dilate = null
        tournier_max_iters = null

     //* Standard options for Python scripts
        py_nocleanup = false
        py_scratch = null // Provide the absolute the path in which to generate the scratch directory to enable
        py_continue = false
        py_continue_dir = null // Provide the absolute path to the scratch directory, only if continue is true
        py_continue_file = null // Provide the absolute path of the last successfully-generated file continue from, only if continue is true

    //* Standard options
        info = false
        quiet = false
        debug = false
        force = false
        nthreads = null // set to 0 to disable multi-threading
        config = false
        config_key = null // change only if config is true
        config_value = null // change only if config is true
        help = false
        version = false
    
    //* Type of tractography to run. 
        trck ='msmt' // Runs 'msmt'(Multi-shell Multi-tissue) by default. Other options include 'streamline' for streamline tractography, and 'act' for anatomically-constrained tractography.

    //* Streamline tractography algorithm    
        trck_algorithm = 'iFOD2' // Algorithm to use. Uses 'iFOD2' by default.

    //* Streamlines options (change null to a number to override default values)
        select = null // Set to 0 to disable
        step = null
        angle = null
        minlength = null
        maxlength = null
        cutoff = null
        trials = null
        noprecomputed = false
        rk4 = false
        stop = false
        downsample = null

    //* Tractography seeding mechanisms; at least one must be provided 
        seed_image = null
        seed_sphere = null
        seed_random_per_voxel = null
        num_per_voxel = null // change only if seed_random_per_voxel is true
        seed_grid_per_voxel = null
        grid_size = null // change only if seed_grid_per_voxel is true
        seed_rejection = null
        seed_dynamic = null

    //* Tractography seeding options and parameters (change null to a number to override default values)
        seeds = null
        max_attempts_per_seed = null 
        seed_cutoff = null
        seed_unidirectional = false
        seed_direction = null
        output_seeds = null

    //* ROI processing options (change null to a number to override default values)
        include = null 
        include_ordered = null
        exclude = null
        mask = null

    //* iFOD tracking options (change null to a number to override default values)
        power = null
        samples = null // only used for iFOD2

    //* Anatomically-Constrained Tractography Specific Parameters 
        act_algorithm = 'iFOD2' // Algorithm to use. Uses 'iFOD2' by default.
        
}

singularity.autoMounts = true
singularity.runOptions = "--bind /projects:/projects"

profiles {

    hpc {
        process {
            publishDir = {"./resultsMRtrix3_${System.getenv('SLURM_JOB_ID')}"}
            scratch = true
            errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
            maxRetries = 3
            maxErrors = -1
            stageInMode = 'copy'
            stageOutMode = 'rsync'
            afterScript = 'sleep 1'
            executor = 'slurm'
            clusterOptions = "${System.getenv('NXF_CLUSTER_OPTIONS')}"
            cpus = "${System.getenv('SLURM_CPUS_ON_NODE')}"
            queue = 'qgpu --gpus=1'
        }
    }
}