process {
    publishDir = {"./resultsMRtrix3_${System.getenv('SLURM_JOB_ID')}"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    afterScript = 'sleep 1'
}

params{

    // Type of tractography to run. Runs 'msmt'(Multi-shell Multi-tissue) by default. Other options include 'streamline' for streamline tractography, and 'act' for anatomically-constrained tractography.
        trck='msmt'

    //*** Streamline Tractography Parameters ***//

    // All the parameters set to false can be enabled by specifying on the command line without a value

        trck_algorithm = 'iFOD2' // Algorithm to use. Uses 'iFOD2' by default.

        //* Streamlines options (change null to a number; else default values will be used)
            select = null
            step = null
            angle = null
            minlength = null
            maxlength = null
            cutoff = null
            trials = null
            noprecomputed = false
            rk4 = false
            stop = false
            downsample = null

        //* Tractography seeding mechanisms; at least one must be provided (change null to a number; else default values will be used)
            seed_image = null
            seed_sphere = null
            seed_random_per_voxel = null
            num_per_voxel = null // change only if seed_random_per_voxel is true
            seed_grid_per_voxel = null
            grid_size = null // change only if seed_grid_per_voxel is true
            seed_rejection = null
            seed_dynamic = null
    
        //* Tractography seeding options and parameters (change null to a number; else default values will be used)
            seeds = null
            max_attempts_per_seed = null 
            seed_cutoff = null
            seed_unidirectional = false
            seed_direction = null
            output_seeds = null

        //* ROI processing options (change null to a number; else default values will be used)
            include = null 
            include_ordered = null
            exclude = null
            mask = null

        //* iFOD tracking options (change null to a number; else default values will be used)
            power = null
            samples = null // only used for iFOD2

        //* DW gradient table import options 
            grad = null // provide the absolute path to the file to enable
            fslgrad = false // set to true to use FSL gradient table format
            bvec = null // Provide the absolute path to the bvec file only if fslgrad is true
            bval = null // Provide the absolute path to the bval file only if fslgrad is true

        //* Standard options (change null to a number; else default values will be used)
            info = false
            quiet = false
            debug = false
            force = false
            nthreads = null // set to 0 to disable multi-threading
            config = false
            config_key = null // change only if config is true
            config_value = null // change only if config is true
            help = false
            version = false

    

    //*** Anatomically-Constrained Tractography Specific Parameters ***//

        act_algorithm = 'iFOD2' // Algorithm to use. Uses 'iFOD2' by default.
        
}

singularity.autoMounts = true
singularity.runOptions = "--bind /projects:/projects"

profiles {

    hpc{
        process.publishDir = {"./resultsMRtrix3_${System.getenv('SLURM_JOB_ID')}"}
        process.scratch = true
        process.errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
        process.maxRetries = 3
        process.maxErrors = -1
        process.stageInMode = 'copy'
        process.stageOutMode = 'rsync'
        process.afterScript = 'sleep 1'
        process.executor = 'slurm'
        process.clusterOptions = "${System.getenv('NXF_CLUSTER_OPTIONS')}"
        process.cpus = "${System.getenv('SLURM_CPUS_ON_NODE')}"
    }

}