process {
    publishDir = {"./resultsMRtrix3_${System.getenv('SLURM_JOB_ID')}"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    afterScript = 'sleep 1'
}

params{

    // Type of tractography to run. Runs 'global' by default.
    trck=global

}

singularity.autoMounts = true
singularity.runOptions = "--no-home"

profiles {

    hpc{
        process.publishDir = {"./resultsMRtrix3_${System.getenv('SLURM_JOB_ID')}"}
        process.scratch = true
        process.errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
        process.maxRetries = 3
        process.maxErrors = -1
        process.stageInMode = 'copy'
        process.stageOutMode = 'rsync'
        process.tag = { "$sid" }
        process.afterScript = 'sleep 1'
        process.executor = 'slurm'
        process.clusterOptions = "${System.getenv('NXF_CLUSTER_OPTIONS')}"
        process.cpus = "${System.getenv('SLURM_CPUS_ON_NODE')}"
    }

}